@import "tailwindcss";

:root {
  --font-geist: '';
}

@theme inline {
  --font-sans: var(--font-geist);
}

* {
  box-sizing: border-box;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
